@font-face {
	font-family: 'Gilroy';
	src: url(../../assets/fonts/Gilroy-Light.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Gilroy';
	src: url(../../assets/fonts/Gilroy-Extrabold.ttf) format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: auto;
}